.jumbotron {
  background-color: #da3f4f !important;
  color: white;
  margin-top: 20;
  margin-bottom: 0;
  margin-right: 0; }

.footer {
  background-color: #969593;
  margin-top: 10;
  margin-bottom: 0;
  margin-right: 0; }

.card-hotel {
  margin-top: 50;
  margin-bottom: 0;
  margin-right: 10;
  margin-right: 10px;
  flex-basis: 250px; }

#navbarseccion {
  color: white; }

.footer-adress-icon {
  padding-right: 5px; }

.estrellas {
  color: #1fde58; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.csubtit {
  padding-bottom: 1px;
  padding-top: 1px; }

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center; }

.img-header {
  width: 100%;
  height: 400px !important; }

.texto-encima {
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: cursive;
  font-size: 50px;
  color: black; }

.tab-content {
  padding-top: 10px; }

.carousel-inner {
  width: 90%;
  height: 450px !important; }
