$rosadito:#da3f4f;
$green:#1fde58;
$gris:#969593;
@mixin margenes($top,$bottom,$right) {
    margin-top:$top;
    margin-bottom:$bottom;
    margin-right: $right;
}

.jumbotron {
    background-color :$rosadito !important ;
    color:white;
    @include margenes(20,0,0 );
    
}

.footer {
    background-color:$gris;
   @include margenes(10,0,0 );
}
.card-hotel {
    
    @include margenes(50,0 ,10 );
    margin-right: 10px;
    flex-basis: 250px;
    
    
}

#navbarseccion {
    color:white;
}

.footer-adress-icon {
    padding-right: 5px;
}

.estrellas {
    color:$green;


}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.csubtit{
    padding-bottom: 1px;
    padding-top: 1px;
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}
.img-header{
    width: 100%;
    height: 400px !important; 
}

.texto-encima {
    position: absolute;
    top:20%;
    left:30%;
    font-family: cursive;
    font-size: 50px;
    color:black;
}
.tab-content{
    padding-top:10px;
}

.carousel-inner {
    width: 90%;
    height: 450px !important; 
}