.jumbotron {
    background-color :chocolate!important ;
    color:white;
    margin-top:20px;
    
}

.footer {
    background-color:gray;
    margin-top: 10px;
}
.card-hotel {
    
    margin-top: 50px;
    margin-right: 10px;
    flex-basis: 250px;
    
    
}

#navbarseccion {
    color:white;
}

.footer-adress-icon {
    padding-right: 5px;
}

.estrellas {
    color:green;


}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.csubtit{
    padding-bottom: 1px;
    padding-top: 1px;
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
}
.img-header{
    width: 100%;
    height: 400px !important; 
}

.texto-encima {
    position: absolute;
    top:20%;
    left:30%;
    font-family: cursive;
    font-size: 50px;
    color:black;
}
.tab-content{
    padding-top:10px;
}

.carousel-inner {
    width: 90%;
    height: 450px !important; 
}